<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    colors="true"
    bootstrap="vendor/autoload.php"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnPhpunitDeprecations="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    failOnDeprecation="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>
