<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birthday Reminder</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <h1>Birthday Reminder</h1>
    <p>Stay on top of your loved ones' birthdays!</p>
    <p>Birthday Reminder automatically adds recurring events and makes it easy to share them through your messaging apps</p>

    <div class="form-container">
        <select id="userSelect">
            <option value="" disabled selected>Select your profile</option>
            <option value="user1">User 1</option>
            <option value="user2">User 2</option>
            <option value="user3">User 3</option>
        </select>
        <button onclick="">Go</button>
    </div>

</body>

</html>
